
body{
    background-color: #fffdf6; 
  }

.introduction{  /* profile pic and name */
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: 'Caveat', cursive;
    background-color:lightblue;
    text-align: center;    
    margin-bottom: 4vw;
}
.h1Name{       /* Name */
    font-size: 5vw;
    margin-bottom: 0%;
}

.profilePic{
    height: 17%;
    width: 17%;
    border-radius:100%;
}

.polygon1{
    position: fixed;
    z-index: -1;
    fill:#ebe6e6;
    
  }

.polygon2{
    position: fixed;
    z-index: -1;
    fill:#f3ecb8;
    
}

.aboutMyself{
    
    font-size: 2vw;
    border-style:solid;
    background-color: #fffdf6;
    
    border-color: #d1cebd;
    border-width: thin;

    padding-left: 3.5vw;
    padding-right: 3.5vw;
    
    margin-left: 4vw;
    margin-right: 4vw;
}

@media only screen and (max-width: 500px) {

    .aboutMyself{
    
        font-size: 3.3vw;
    }
 
 }

 mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color:#FFF200;
  }